.form {
  padding: 0 1rem;
}

.sizes-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0.5rem 0;
}

.submit-button {
  width: 100%;
  border-radius: 0.5rem;
}

.size-name,
.size-available {
  font-weight: 700;
}
