{
    auto_https off  # Disable HTTPS for simplicity in a local environment
}

# Route traffic  to service 1 for service 1 path
:80 {
    handle /catalog/* {
        reverse_proxy catalog:3000
    }

    handle /inventory/* {
        reverse_proxy inventory:3000
    }

    # Optionally handle a root request or any other route

    handle {
        reverse_proxy web:80
    }
}