ul {
  list-style: none;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

.main {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 5em #2d6a4f82;
  overflow: hidden;
  position: relative;
}

@media (min-width: 810px) {
  .main {
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 500px;
  font-family: monospace;
  text-align: center;
  background-color: #95d5b2;
  padding: 1rem;
  z-index: 2;
}

@media (min-width: 810px) {
  .header {
    position: sticky;
    top: 0;
  }
}

.headline {
  filter: drop-shadow(0 5px 4px #22577a60);
}

.wave {
  height: 10rem;
  background-color: #95d5b2;
  --mask: radial-gradient(
        34.99px at 50% calc(100% - 48px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.back-link {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1rem;
  top: 0.6rem;
  z-index: 3;
}

.section {
  padding: 1rem;
}

.plant-image {
  margin-top: -47px;
  margin-left: -25px;
  width: 110%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.image {
  position: absolute;
  bottom: 0;
  left: 80px;
  margin-bottom: -500px;
  width: 150%;
  height: 120%;
  z-index: -1;
  opacity: 0.4;
}

.sizes-list {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.sizes-list > li {
  flex: 0 0 48%;
}

.sizes-not-available {
  color: #00000090;
}

.available-text {
  color: #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
}
