.close-button {
  transform: rotate(45deg);
  background-color: #036666;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding-top: 0.2rem;
  display: grid;
  place-items: center;
  border: none;
}

.close-button:hover {
  box-shadow: 0 0 1em #7f917282;
}
