#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main {
  position: relative;
}

.plant-list-grid {
  display: grid;
  margin: 0.5rem auto 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 0.5rem;
  max-width: 800px;
  list-style-type: none;
}

.no-results {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
