.drawer {
  position: absolute;
  right: -95%;
  z-index: 3;
  background-color: #fff;
  height: 100svh;
  top: 0;
  width: 95%;
  transition: right 0.5s ease;
  padding: 3rem 1rem;
  box-shadow: 0 0 1em #7f917282;
}

.drawer.open {
  right: 0;
}

.close-button {
  transform: rotate(45deg);
  background-color: #036666;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding-top: 0.2rem;
  display: grid;
  place-items: center;
  border: none;
}

.close-button:hover {
  box-shadow: 0 0 1em #7f917282;
}
